@model Nest.ISearchResponse<Book>

<form asp-controller="Home" asp-action="Index" method="post">
    <input class="form-control" type="text" name="query" />
    <button class="btn btn-primary type="submit">Search</button>
</form>

<h3>Search Results</h3>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">ISBN</th>
      <th scope="col">Authors</th>
      <th scope="col">Categories</th>
    </tr>
  </thead>
  <tbody>  
      @if (Model.Documents.Any())
        {

            @foreach (var book in Model.Documents)
            {
            <tr>
                <td>@book.Title</td>
                <td>@book.Isbn</td>
                <td>@book.Authors</td>
                <td>@book.Categories</td>
            </tr>
            }
        }
  </tbody>
</table>
